<div class="signup-container">
    <h2>Sign Up</h2>
    <div class="twin-grid">
        <div class="inner-form">
            <label for="login">Login</label>
        </div>
        <div class="inner-form">
            <input [(ngModel)]="login"
                   type="text"
                   placeholder="Enter Login"
                   name="login"
                   id="login"
                   required>
        </div>
        <div class="inner-form">
            <label for="password">Password</label>
        </div>
        <div class="inner-form">
            <input [(ngModel)]="password"
                   type="password"
                   placeholder="Enter Password"
                   name="password"
                   id="password"
                   required>
        </div>
        <div class="inner-form">
            <label for="name">Name</label>
        </div>
        <div class="inner-form">
            <input [(ngModel)]="name"
                   type="text"
                   placeholder="Enter Name"
                   name="name"
                   id="name"
                   required>
        </div>
        <div class="inner-form">
            <label for="personType">Role</label>
        </div>
        <div class="inner-form">
            <select class="select-css" [(ngModel)]="personType" name="personType" id="personType">
                <option value="client">Client</option>
                <option value="operator">Operator</option>
                <option value="agent">Insurance agent</option>
            </select>
        </div>
        <div class="inner-form">
            <button (click)="signUp()" name="signup"><span>Sign Up</span></button>

            <button [routerLink]="''"><span>Back</span></button>
        </div>
    </div>
</div>
