<h2>Operator</h2>

<div *ngIf="adminId" class="admin-base-container">
    <div class="centerify">
        <button [routerLink]="'/operator/info'"><span>Profile</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/operator/requests/closed'"><span>Closed requests</span></button>
        <button [routerLink]="'/operator/requests/opened'"><span>Opened requests</span></button>
        <button [routerLink]="'/operator/requests/processed'"><span>Processed requests</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="''" (click)="signOut()"><span>Sign out</span></button>
    </div>
</div>
