<div class="request-popup">
    <div class="request-popup-content">
        <client-payment-request-comment-popup *ngIf="showCommentPopup"
                                              [polisId]="polis.id"
                                              (onCloseEvent)="onClosePayments()">
        </client-payment-request-comment-popup>
        <div *ngIf="!showCommentPopup">
        <h2>Insurance policy</h2>
        <div class="centerify">
            <table>
                <tr>
                    <th>Client</th>
                    <th>Agent</th>
                    <th>Period</th>
                    <th>Start date</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>{{client}}</td>
                    <td>{{agent}}</td>
                    <td>{{polis.period}}</td>
                    <td>{{date}}</td>
                    <td>{{polis.status}}</td>
                </tr>
            </table>
        </div>
        <br>
        <h2>Data</h2>
        <div class="centerify" >
            <textarea *ngIf="polis.status === 'opened'" [(ngModel)]="data" name="data" id="data"></textarea>
            <div *ngIf="polis.status !== 'opened'">{{polis.data}}</div>
        </div>
        <div class="centerify">
            <button *ngIf="polis.status == 'opened'" class="popup-button" (click)="onPaymentsClick()"><span>Request payments</span></button>
            <button *ngIf="polis.status == 'opened'" class="popup-button" (click)="update(data)"><span>Update</span></button>
            <button *ngIf="polis.status == 'opened'" class="popup-button" (click)="closePolicy()"><span>Close policy</span></button>
        </div>
        <div class="centerify">
            <button  class="popup-button" (click)="close()"><span>Close</span></button>
        </div>
        </div>
    </div>
</div>
